<footer class="main-footer">
  <div class="footer-container">
    <!-- Footer legal -->
    <section class="ft-common ft-links">
      <ul class="ft-links-list">
        <li><a href="#">Contact Us</a></li>
        <li><a href="/privacy-policy">Terms &amp; Conditions </a></li>
      </ul>
    </section>

    <!-- Footer social -->
    <section class="ft-common ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="mailto:{{ site.data.creator.email_address }}"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </section>
  </div> <!-- Footer container -->
</footer> <!-- .main-footer -->
